@using SocialNetwork.Core.Application.ViewModels.Publication
@model List<PublicationViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid gedf-wrapper">
    
    <div class="row">
       
            <div class="col-md-3">
               
            </div>
        
        <div class="col-md-6 gedf-main">

            @await Html.PartialAsync("Create", new SocialNetwork.Core.Application.ViewModels.Publication.SavePublicationViewModel())

            @foreach (var publication in Model)
            {
                <div class="card gedf-card mt-2" style="max-width: 500px;">
                    <div class="card-header" style="background: #fff">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2" style="margin-right: 10px">
                                    <img class="rounded-circle" width="60" height="50" src="@publication.UserPhoto" alt="" />
                                </div>
                                &nbsp
                                <div class="text-dark" style="margin-left: 10px">
                                    <div class="h6 mt-1 mb-1">@publication.User @publication.UserLastName</div>
                                    <div class="h7 mt-1 mb-1">@publication.UserName</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text fw-normal">@publication.Title</p>
                        @if(publication.ImageUrl != null)
                        {
                            <div class="d-flex justify-content-center mb-2">
                                <img class="align-content-center" style="max-width: 500px;" src="@publication.ImageUrl" />
                            </div>
                        }  
                        @if(publication.VideoUrl != null)
                        {
                            <div class="d-flex justify-content-center mb-2">
                                <iframe width="400" height="250" src="@publication.VideoUrl" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        }
                        <div class="text-muted h7 mb-2 text-end"> <i class="fa fa-clock-o"></i>@publication.DateCreate</div>
                    </div>

                    <div class="card-footer" style="background: #fff">

                        <div>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@publication.Id" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@publication.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                            <button class="btn btn-secondary btn-sm"><i class="fa-solid fa-comment"></i></button>
                            <div class="comments mt-4" style="display:none">
                                @if (publication.Comments != null && publication.Comments.Any())
                                {
                                    
                                    @foreach (var comment in publication.Comments.Where(c => c.ParentId == null))
                                    {
                                        <div class="mr-2 mb-2">
                                            <div style="flex-basis: auto">

                                                <div>
                                                    <img class="rounded-circle" width="40" height="30" src="@comment.ImageUrl" alt="" /> @comment.UserName: @comment.Message
                                                </div>
                                                
                                            </div>
                                            <a class="btn-reply mr-2 mb-2 text-decoration-none text-secondary" style="border: none; padding-left: 45px; padding-right: 45px; font-size: 0.8em; cursor: pointer;"> reply</a>
                                            <div class="replies mt-2" style="display:none">
                                                <form asp-controller="Home" asp-action="CreateReplyComment" method="post" style="border: none; padding-left: 45px; padding-right: 45px;">
                                                    <input type="hidden" name="publicationId" value="@publication.Id" />
                                                    <input type="hidden" name="ParentId" value="@comment.Id" />
                                                    <input required class="form-control-sm me-2 border-1" name="Message" placeholder="answer a comment" />
                                                    <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                                                </form>
                                            </div>
                                        </div>

                                        @foreach (var reply in comment.Children)
                                        {
                                            <div class="mt-2 mb-2" style="margin-left: 40px;">
                                                <img class="rounded-circle" width="40" height="30" src="@reply.ImageUrl" alt="" /> @reply.UserName: @reply.Message
                                            </div>

                                       
                                        }
                                    }
                                }

                                <div class="card-footer d-flex align-items-center mt-2" style="background: #fff">
                                    <form asp-controller="Home" asp-action="CreateComment" method="post" class="w-100 d-flex">
                                        <input type="hidden" name="publicationId" value="@publication.Id" />
                                        <input  required asp class="form-control-sm flex-grow-1 me-2 border-1" name="Message" placeholder="Make a Comment" />
                                        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3">
          
        </div>
    </div>
</div>


@section Scripts {
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            var toggleButtons = document.querySelectorAll(".btn");
            toggleButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var commentsContainer = button.nextElementSibling;
                    if (commentsContainer.style.display === "none") {
                        commentsContainer.style.display = "block";
                    } else {
                        commentsContainer.style.display = "none";
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            var toggleButtons = document.querySelectorAll(".btn-reply");
            toggleButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var repliesContainer = button.nextElementSibling;
                    if (repliesContainer.style.display === "none") {
                        repliesContainer.style.display = "block";
                    } else {
                        repliesContainer.style.display = "none";
                    }
                });
            });
        });
    </script>
}

