@using SocialNetwork.Core.Application.ViewModels.Publication
@model List<PublicationViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid gedf-wrapper">
    
    <div class="row">
       
            <div class="col-md-3">
                <div class="card" style="background: #f6f8fa">
                    <div class="card-body text-dark">
                        <div class="mr-2 text-center">
                            <img class="rounded-circle" width="60" height="50" src="@ViewBag.photo" alt="">
                        </div>
                        <div class="h7 text-center text-dark"> <i class="fa-regular fa-star"></i> @ViewBag.userName <i class="fa-regular fa-star"></i></div>
                    </div>
                </div>
            </div>
        
        <div class="col-md-6 gedf-main">

            @await Html.PartialAsync("Create", new SocialNetwork.Core.Application.ViewModels.Publication.SavePublicationViewModel())

            @foreach (var publication in Model)
            {
                <div class="card gedf-card mt-2">
                    <div class="card-header" style="background: #f6f8fa">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2" style="margin-right: 10px">
                                    <img class="rounded-circle" width="60" height="50" src="@publication.UserPhoto" alt="" />
                                </div>
                                &nbsp
                                <div class="text-dark" style="margin-left: 10px">
                                    <div class="h6 mt-1 mb-1">@publication.User @publication.UserLastName</div>
                                    <div class="h7 mt-1 mb-1">@publication.UserName</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text fw-normal">@publication.Title</p>
                        @if(publication.ImageUrl != null || publication.VideoUrl != null)
                        {
                            <div class="d-flex justify-content-center mb-3">
                                <img class="align-content-center" width="250" height="250" src="@publication.ImageUrl" />
                                <iframe width="250" height="250" src="@publication.VideoUrl" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        }  
                        <div class="text-muted h7 mb-2 text-end"> <i class="fa fa-clock-o"></i>@publication.DateCreate</div>
                    </div>

                    <div class="card-footer" style="background: #f6f8fa">

                        <div>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@publication.Id" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@publication.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                            <button class="btn btn-secondary btn-sm"><i class="fa-solid fa-comment"></i></button>
                            <div class="comments mt-4" style="display:none">
                                @if (publication.Comments != null && publication.Comments.Any())
                                {
                                    @foreach (var comment in publication.Comments)
                                    {

                                        <div class="mr-2 mb-2" style="flex-basis: auto;">
                                            <img class="rounded-circle" width="40" height="30" src="@comment.UserPhoto" alt="" /> @comment.UserName: @comment.Message
                                        </div>

                                        @*      <form asp-controller="Home" asp-action="AddChildComment" method="post" class="w-100 d-flex">
                                                <input type="hidden" name="parentId" value="@comment.Id" />
                                                <input class="form-control flex-grow-1 me-2" name="message" placeholder="Add Reply" />
                                                <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                                                </form> *@
                                    }

                                }

                                <div class="card-footer d-flex align-items-center" style="background: #f6f8fa">
                                    <form asp-controller="Home" asp-action="CreateComment" method="post" class="w-100 d-flex">
                                        <input type="hidden" name="publicationId" value="@publication.Id" />
                                        <input asp class="form-control flex-grow-1 me-2" name="Message" placeholder="Make a Comment" />
                                        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        
                       
                      
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3">
            <div class="card" style="background: #f6f8fa">
                <div class="card-body text-dark">
                    <div class="mr-2 text-center">
                        <i class="fa-solid fa-user-group"></i>
                    </div>
                    <div class="h7 text-dark">
                        Your Friends.
                        <ul>
                            <li> Juan</li>
                            <li> Francisco</li>
                            <li> Miguel</li>
                            <li> Pedro</li>
                            <li> Leonardo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toggleButtons = document.querySelectorAll(".btn");
            toggleButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var commentsContainer = button.nextElementSibling;
                    if (commentsContainer.style.display === "none") {
                        commentsContainer.style.display = "block";
                    } else {
                        commentsContainer.style.display = "none";
                    }
                });
            });
        });
    </script>
}
